[Desktop Entry]
Name=Clock
Comment=Count down clock
TryExec=/home/<YOUR INSTALL FOLDER>/CountDownClock/clock.py
Exec=/home/<YOUR INSTALL FOLDER>/CountDownClock/clock.py %f
Icon=leafpad
Terminal=false
Type=Application
MimeType=text/plain
Categories=Utility;
